@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.jumbotron {
  padding-top: 5rem;
  background-color: #ffc10780;
}

.proses,
.pencegahan {
  background-color: #ffc10780;
}

.sumber {
  background-color: #ffc107;
}

.dzaky {
  text-decoration: none;
  color: black;
}

.dzaky {
  text-decoration: none;
  color: black;
}

.dzaky:hover {
  text-decoration: underline;
  color: whitesmoke;
}

.rifai {
  list-style: none;
}

.img-thumbnail {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #ffffff01;
  border: 0px solid #dee2e6;
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 9rem;
  padding-bottom: 7rem;
}
