.jumbotron {
  padding-top: 1rem;
  background-color: #ffc10780;
}

#gejala {
  background-color: #ffc10780;
}
.container {
}

/* .mb-5 {
  margin-bottom: 0;
} */

/* .img-thumbnail {
    margin-top: ;
} */

/* .img-thumbnail .mt-5 {
  margin-left: ($spacer * 5) !important;
} */
